
.fs-14{
  font-size: $font-size-base * .875; // 14
}

.img-cover{
  object-fit: cover;
  object-position: center center;
}

.cursor{
  cursor: pointer;
}

.slide{
  transition:height 1s ease-out;
  height:0;
  overflow:hidden;
}
.open {
  height:400px;
}
