@mixin overlay($bg-color){ //在圖片加上一層顏色
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  background-color: $bg-color;
}

@mixin iphone5 {
  @media(max-width:320px){
    @content
  }
};


