<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="position-relative">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-4 sticky-top">
      <div class="container">
        <h1>
          <a class="navbar-brand logo-bg logo-settings bg-size-cover d-block" href="index.html">
            DOYOGA
          </a>
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link hvr-underline-from-left" aria-current="page" href="classes.html">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hvr-underline-from-left" href="space.html">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hvr-underline-from-left" href="schedule.html">當月課表</a>
            </li>
          </ul>
          <div class="d-flex">
            <a href="reserve-firstTrial.html" class="btn btn-outline-primary rounded-4 me-3">立即預約</a>
            <a href="contact.html"class="btn btn-outline-primary rounded-4">聯絡我們</a>
          </div>
        </div>
      </div>
    </nav>

    <ul class="list-unstyled position-fixed top-50 end-0 d-none d-lg-block">
      <li><a href="#"><i class="fab fa-facebook link-secondary icon-fb display-5 me-3"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram link-secondary icon-ig display-5 me-3"></i></a></li>
      <li><a href="#"><i class="fab fa-line link-secondary icon-line display-5 me-3"></i></a></li>
    </ul>

    <%- contents %>

    <footer class="bg-secondary" data-aos="fade-down">
      <div class="container pb-7 pt-5 pt-md-7">
        <div class="row flex-column flex-lg-row justify-content-between">
          <div class="col-lg-8 mb-2 mb-lg-0">
            <h3 class="text-white fs-4 fs-sm-3">現在訂閱，獲得課程優惠碼！</h3>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <button class="btn btn-outline-secondary text-white" type="button" id="button-addon1">訂閱</button>
            </div>
          </div>
        </div>
      </div>
      <hr class="border-bottom border-white border-2 my-0"> 
      <div class="container pb-7 pt-5 pt-md-7">
        <div class="d-flex position-relative justify-content-between">
          <div>
            <h2 class="mb-2">
              <a href="index.html" class="footer-logo-bg logo-settings bg-size-cover d-block"> 
                DOYOGA
              </a>
            </h2>
            <ul class="list-unstyled">
              <li><a href="classes.html" class="link-white hvr-grow fw-light mb-2 ">課程介紹</a></li>
              <li><a href="space.html" class="link-white hvr-grow fw-light mb-2">瑜珈空間</a></li>
              <li><a href="schedule.html" class="link-white hvr-grow fw-light mb-2">當月課表</a></li>
              <li><p class="d-block d-sm-none text-white">© 2021. All Rights Reserved.</p></li>
            </ul>
          </div>
          <p class="d-none d-sm-block text-white position-absolute top-100 start-50  translate-middle">© 2021. All Rights Reserved.</p>
          <ul class="list-unstyled d-flex">
            <li><a href="#"><i class="fab fa-facebook link-white icon-fb fs-4 me-2"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram link-white icon-ig fs-4 me-2"></i></a></li>
            <li><a href="#"><i class="fab fa-line link-white icon-line fs-4"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>