
.icon-fb:hover {
  color: #4267B2;
}
.icon-ig:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    color: transparent;
}
.icon-line:hover{
  color: #00c300;
}
.icon-position{
  right: 0;
}