.logo-bg{
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1630655341773.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=Da%2BKe7eCHg%2B73iFvfKkSQXypPMxFKjsIbfA9qRiAjmHCd812tv5ZC6Loq%2BjPP%2FbbA003Jfi5L%2BvKVFzK2l140CBt1JXOo%2BOH8%2B2sTIGpgH8DxqubXWCtyDV4%2FiOrfnArA3kqCTu0g2XuN%2FM%2FWHCwfd8onYNLLFjVsoZ52Z1fPzJlaMf9sJ6zRYeUOt4jkVbSete6fCUTn6r5dnHLPd4WGoW03OSPU0P4rxRIH3E8qScCtNJ6Otm%2F21K27vDjcMfy1Xd1MyAY2o%2BEgE%2FzwX%2BwUW%2BDsiUiev1ZKp40tWC3FUWiBC9k0QO2pq8f51sKHAr6%2BXQdeiW%2FT%2BUzmSk054GR3Q%3D%3D); 
}
.logo-settings{
   
  width:96px;  
  height: 31px;  
  text-indent:101%;  
  white-space: nowrap;  
  overflow: hidden;  
}
.footer-logo-bg{
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/starlightselection/1630692204043.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=oTvZU1vtc28Pt7R%2F%2BMO4TNy%2FIBKnZmy3qOLoEMePtpahB1a8tkrqjk47rAbMo6tceldhqggXpVmOhCrWG0yb9oQnAi7ePjFeRVi6p8%2BmWeEdWg724yrI7v%2FLnW00U53GC%2B5ZMpYLZPyDYjzDxIQZog%2BiPAXDTxKvSU7FCbz5BiWYiaT2DKe0qNp67KXJvI4r6JS46NWhmawXTYgyHKWSqR%2FkEAUa8g50u8lTt3ys6Sd8t%2F88dJndyDmhGtqNQLBxhWCmvGWVl%2F2YQImBXZ2fUbPkoja1oLoEJAoNAZkiWFqphoqWchVhTK39m4RESTxenAaw7t5jaBeJVUb7W7Wy8w%3D%3D); 
}