.navbar {
  .navbar-nav {
    .link-primary-hover{
      border-bottom: 2px solid transparent;
      transition: all 0.3s;
      &:hover {
        color: $primary;
        border-bottom: 2px solid $primary;
        @include media-breakpoint-down(lg) { 
          border-bottom: 2px solid transparent;
         }
      }
    } 
  }
}


